snippet pic "picture~"
	![${2:avatar}](${1})

snippet link "link~"
	[${2:info}](${1})

snippet bb "bold text"
	**${1}** ${2}

snippet ii "italic text"
	*${1}* ${2}

snippet hh "highlight text"
	`${1}` ${2}

snippet td "task"
	- [ ] ${1}

snippet td "> task"
	> - [ ] ${1}

snippet tdd "> > task"
	>> - [ ] ${1}

snippet tddd "> > > task"
	>>> - [ ] ${1}

snippet ref "ref~"
	[${1}](${2})

snippet sp "space~"
	&nbsp;
